.comp{
  background-color: #e6f51c;
  /* color: whitesmoke; */
}
.nav{
  background-color:#e6f51c;      
}
.cat{
  color: black;
  height: 3px;
}
.list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.words {
  margin-left: 500px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  color: #b4c007;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.head-ing {
  font-size:70px;
   font-family:"Playfair Display", serif;
    text-transform:uppercase;
    letter-spacing: 2px;
     color:#111;
}

